.backimg{
   background-image: url('../Images/wraper.png') ,linear-gradient(#282B30,#282B30);
   background-position: center center;
   background-size: cover ;
   height: 30vh;

}
body{
   font-family: 'Comfortaa', sans-serif;
   background-image:  linear-gradient(#282B30,#282B30);

}
nav{
   margin-top: -40px;
}
.sticky-top {
   top: -8px;
}
nav ul li{
   
   /* padding: 10px; */
   margin: 0 10px;

}
nav a {
   color: white !important;
   transition: all .5s;
}
nav a:hover{
color:  #0099CC !important;
}
nav .container{
   background-color: #3A497B;
   border-radius: 50px;

  
  
   /* transform: translate(0,-50%); */

}
.logo h5{
   font-family: 'Nerko One', cursive;
}
.logo img{
   width: 50px;
   height: 50px;
}
.card {
   background-color: transparent;
   transform: scale(.9);
   transition: all .5s;
  
}
.card:hover{
   transform: scale(1.1);

}
.acive-tap{
   color: #0099CC !important;
}

section{
   color: white;
}